.cart-icon-btn{
    border: 0px;
}
.div-margin{
    padding: 1rem;
    
}
.product-cart{
    position: relative;
}
.total-price{
    position: absolute;
    background-color: #f3f4f6;
    z-index: 11111;
}